# Bỏ qua tất cả các file và thư mục trong dự án
/*

# Ngoại trừ 3 thư mục này (và các file/thư mục con bên trong chúng)
!/Slides/
!/Lectures/
!/data/

# Không bỏ qua chính file .gitignore
!.gitignore
